/* apply style to all*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code pro', monospace;

    --clr-dark: #5a5c54;
    --clr-light: #337535 ;
    --clr-accent: #BEB3A0  ;
    --fs-h1: 20px;
    --fs-h2: 18px;
    
    --border-radius: 50px;
      }
    
/* style for viewport*/

@media screen and (min-width: 450px) {
  .column{
    width: 500px;
  }
  
        main,
        nav{
           
          flex-direction: column;         
    }
    
  }
/* apply style to <body> */
body {
    color: var(--clr-light);
    font-family: var(--ff-primary);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
  }
/* apply style to <header> */
    header {
  
      padding: 20px 35px;
      background-color: var(--clr-dark);
      color: var(--clr-accent);
  
      }
      
      header h1 {
      font-weight:bold;
      font-size: 25px;
      color: var(--clr-accent);
      margin: 0;
      display: inline;
    }
     header a {
       text-decoration: none;
      color: var(--clr-accent);
    }
    header nav {
      float: right;
      margin: 7px 0px;
    }
     header nav ul li {
       display: inline;
     }
     header nav ul li a {
       margin: 0 30px;
       font-weight: lighter;
       font-size: var(--fs-h1);
       font-style: italic;
   
  }
  
  nav ul li a:hover {
    background-color: white;
    color: var(--dark-blue);
  }
    
/* hero style */

.hero {

    background-image: url("../images/backgroundimage.jpeg");
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;   
}
/* main style */
.frontpage {
  text-align: center;
  padding-top: 40px;
  Padding-bottom: 40px; 
  background-color: var(--clr-accent);
}

.frontpage p {
  line-height: 1.7;
  color:  #03393f;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
  padding-bottom: 30px;  
  
}
.frontpage h2 {
  color: var(--clr-light);
  font-size: 35px;
  margin-top: 10px;
 } 
.intro {
  text-align: center;
  background: var(--clr-dark);
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0 auto;
}
.intro img {
  width: 100;
  margin: 10px 0;
}
.intro div {
  margin-bottom: 80px;

}   
.intro h2 {
  color: var(--clr-accent);
  font-size: 35px;
  margin-top: 10px;
 } 
 
 .intro p {
  color:  #03393f;
  font-size: 20px;
}
.section-title {
  font-size: 35px;
  color:var(--clr-dark);
  margin-bottom: 35px;
  padding: 0 100px 20px 100px;
  border-bottom: 3px solid;
  display: inline-block;
}
.primary-border {
  border-color: brown;
}

/* style for avatar*/
.avatar {
 
    width: 200px;
    max-width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;   

 }
 
 .projects {
  text-align: center;
  overflow: auto;
  display: inline-block;
  padding-top: 40px;
  Padding-bottom: 40px; 
  background-color: var(--clr-accent);
  padding-right: 10px;
  }
   
.projects h2 {
  color: var(--clr-light);
  font-size: 35px;
  margin-top: 10px;
 } 
 
 .column {
   
   flex:33.33%;
   padding: 0px;
   float:left;
    
 }
 .row::after {
  content: "";
  clear: both;
  display: table;
  
 }
 img {
  
   width: 300px;
   height: 400px;
   object-fit:cover;
 }
 .container {
   position: relative;
   font-family: var(--ff-primary);
   margin-right: 10px;;
   
   
 }
 .text-block {
   display: flex;
   justify-content: center;
   bottom: 10px;
   right: 10px;
   background-color: #A6A89E;
   color: brown;
   padding-left: 10px;
   padding-right: 10px;
 }
 .text-block h2 {
   
  color: var(--clr-light);

 }
 /* footer */
 footer { 
  background-color: #5a5c54;
  color: var(--clr-light);
  padding: 20px 30px;
  width:100%;
  clear: both;
  text-align: center;

  }
  footer h2 {
    color: var(--clr-accent);
  font-size: 25px;
  margin-top: 10px;
  
 } 
 
.info h2 {
  color: var(--clr-accent);
}
 .email {
   
  background-color: #5a5c54;

  padding: 10px 10px;
  width:100%;
  clear: both;
  text-align: center;

 }
 footer img {
   width: 40px;
   height: 40px;
 }
 
 
 
 

  


  
  
  
 



 





  